@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}


.animeDown {
    opacity: 0;
    transform: translateY(20px);
    animation: animeDown 0.5s forwards;
}


@keyframes animeDown{
    to{
        opacity: initial;
        transform: initial;
    }
}


.animeDiv {
    animation: animeDiv 0.5s forwards;
    opacity: 0;
    overflow: hidden;
}

@keyframes animeDiv{
    to{
        transform:initial;
        height: 100%;
        opacity: 1;
    overflow: initial;
    }
}

.animationLoading{
    animation: animationLoading 1.5s linear infinite;
}


@keyframes animationLoading{
    to{
        transform: rotateZ(360deg);
        border-left-color: #00ffff;
        border-right-color: #00ffff;
    }from{
        transform: rotateZ(0deg);
        border-left-color: #ff0084;
        border-right-color: #ff0084;
    }
}